.bottom-border {
  border-bottom: 1px solid lighten($primary, 20%);
  margin-left: 10px;
  margin-right: 10px;
}

@media all and (min-width: 1024px) {
  .bottom-border {
    margin-left: 50px;
    margin-right: 50px;
  }
}