.header {
  height: 100vh;
  &::before {
    content: "";
    background-image: url("../src/assets/images/photos/robotic_1.jpeg");
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $grey;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(100%) contrast(150%) opacity(80%) brightness(0.3);
  }
  &__content {
    position: relative;
  }

}